@import "/./src/assets/index.scss";

.two-container {
    background: linear-gradient(132deg, $primary-dark, $third, #0c0d18);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    overflow: hidden;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 3px solid $primary;

    @keyframes Gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

.cube {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 230vh;
    border: solid 2px $white;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #fff;
}

.cube:nth-child(2) {
    position: absolute;
    animation-delay: 2s;
    left: 25vw;
    top: 230vh;
}

.cube:nth-child(3) {
    position: absolute;
    animation-delay: 4s;
    left: 75vw;
    top: 210vh;
}

.cube:nth-child(4) {
    position: absolute;
    animation-delay: 6s;
    left: 90vw;
    top: 200vh;
}

.cube:nth-child(5) {
    position: absolute;
    animation-delay: 10s;
    left: 10vw;
    top: 200vh;
}

.cube:nth-child(6) {
    position: absolute;
    animation-delay: 14s;
    left: 58vw;
    top: 200vh;
}

.cube:nth-child(7) {
    position: absolute;
    animation-delay: 20s;
    left: 90vw;
    top: 230vh;
}

.cube:nth-child(8) {
    position: absolute;
    animation-delay: 26s;
    left: 7vw;
    top: 225vh;
}

.cube:nth-child(9) {
    position: absolute;
    animation-delay: 32s;
    left: 67vw;
    top: 230vh;
}

.cube:nth-child(10) {
    position: absolute;
    animation-delay: 40s;
    left: 55vw;
    top: 222vh;
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.skills-container {
    background-color: $secondary;
    border-radius: 10px;
    padding: 0 25px;
}

.skills-title {
    font-size: 20px;
    color: $white;
    letter-spacing: 3px;
    font-family: "Archivo Narrow", sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    z-index: 700;
    position: relative;
}

.list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skill {
    font-size: 14px;
    color: $white;
    letter-spacing: 3px;
    font-family: "Archivo Narrow", sans-serif;
    text-transform: uppercase;
    margin: auto;
    padding: 8px 0;
}

hr {
    width: 50%;
    border-color: $white;
}

.exp-container {
    background-color: $secondary;
    border-radius: 10px;
    padding: 0 30px;
    max-width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 30px;
}

.exp-title {
    font-size: 20px;
    color: $white;
    letter-spacing: 3px;
    font-family: "Archivo Narrow", sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.exp-desc {
    font-size: 14px;
    color: $white;
    letter-spacing: 1.5px;
    font-family: "Archivo Narrow", sans-serif;
    text-align: center;
}

.mission-vision-container {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission-container {
    background-color: $secondary;
    border-radius: 10px;
    padding: 0 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mission-title {
    font-size: 20px;
    color: $white;
    letter-spacing: 3px;
    font-family: "Archivo Narrow", sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.mission-desc {
    font-size: 12px;
    color: $white;
    letter-spacing: 2px;
    font-family: "Archivo Narrow", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.vision-container {
    background-color: $secondary;
    border-radius: 10px;
    padding: 0 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 30px 0;
}

.vision-title {
    font-size: 20px;
    color: $white;
    letter-spacing: 3px;
    font-family: "Archivo Narrow", sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.vision-desc {
    font-size: 12px;
    color: $white;
    letter-spacing: 2px;
    font-family: "Archivo Narrow", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.purpose-container {
    background-color: $secondary;
    border-radius: 10px;
    padding: 0 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.purpose-title {
    font-size: 20px;
    color: $white;
    letter-spacing: 3px;
    font-family: "Archivo Narrow", sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.purpose-desc {
    font-size: 12px;
    color: $white;
    letter-spacing: 2px;
    font-family: "Archivo Narrow", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 1440px) {
    .info-container {
        flex-wrap: nowrap;
    }

    .exp-container {
        //max-width: 100%;
        padding: 0 20px;
    }

    .skills-title,
    .exp-title,
    .mission-title,
    .vision-title,
    .purpose-title {
        font-size: 12px;
    }

    .skill,
    .exp-desc,
    .mission-desc,
    .vision-desc,
    .purpose-desc {
        font-size: 10px;
    }

    .skills-container,
    .exp-container,
    .mission-vision-container {
        margin: 15px 0;
    }
}

@media screen and (max-width: 1360px) {
    //.exp-container {
    //max-width: 80%;
    //}

    .cube,
    .cube:nth-child(2),
    .cube:nth-child(2n),
    .cube:nth-child(3),
    .cube:nth-child(4),
    .cube:nth-child(5),
    .cube:nth-child(6),
    .cube:nth-child(7),
    .cube:nth-child(8),
    .cube:nth-child(9) {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .info-container {
        flex-direction: column;
    }

    //.mission-vision-container {
    //max-width: 80%;
    //}
}
