@import "/./src/assets/index.scss";

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.video {
    position: relative;
}

.mission-partone {
    font-size: 36px;
    color: $white;
    letter-spacing: 2px;
    font-family: "Archivo Narrow", sans-serif;
    height: 100px;
    text-align: center;
    position: absolute;
}

.mission-parttwo {
    font-size: 46px;
    color: $white;
    letter-spacing: 2px;
    font-family: "Archivo Narrow", sans-serif;
    line-height: -2px;
    text-align: center;
    height: 0;
    position: absolute;
}
